.navbar{
    display: flex;
    justify-content: space-between;
    
    /* text-transform: capitalize; */
    width: 100%;
    height: 70px ;
    background-color: rgb(255, 255, 255) ;
}
.name{
    text-align: left;
    /* margin-top: 10px; */
    padding: 26px ;
    border: 1px solid gray;
    width: 150px;
    height: 33px ;
    margin-top: -9px;
    
    

}
.adress{
    margin-top: 12px;
    font-size: larger;
    text-transform: capitalize;

}
.serchbar{
    margin-top: 10px ;
    
    

}
.login{
    margin-top: 0px;
    font-size: 25px;
    color: gray;
    text-transform: capitalize;
}

input{
    width: 500px ;
    height: 40px  ;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 237, 240);
    background-color: rgb(247, 247, 247);
    font-size: larger;
    text-transform: capitalize;
    border-radius: 10px ;

}
span{
    text-align: left;
    font-size: 40px ;
}
.orange{
    color: orange;
    font-weight: bolder;
    

}
.green{
    color: greenyellow;
    font-weight: bolder  ;
}
/* .mycart{
    margin-top: 15px ;
    width: 120px ;
} */
 button{
    margin-top: 15px ;
    width: 130px ;
    text-transform: capitalize;
    height: 50px ;
    margin-right: 15px ;
    color: whitesmoke;
    border-radius: 15px ;
    font-weight: bolder;
    font-size: medium ;
 }
 .greens{
    background-color: green;
 }