.box{
    border: 2px solid red;
    /* border-radius: 8%; */
    width: 350px;
    height: 510px ;
    text-transform: capitalize ;
    /* padding: 3px ; */
    margin-left: 100px ;
    margin-top: 50px ;
    border-top-left-radius: 8% ;
    border-top-right-radius: 8%;

}
img{
    border-top-left-radius: 33px  ;
    border-top-right-radius: 33px;
    margin-top: 0px;
   
}
.center1{
    text-align: center;
    margin-top: 10px  ;
    color: red;
    font-weight: 400 ;
}
.center2{
    margin-top: 0px ;
    text-align: center;
    font-weight: 1800 ;
    margin-top: -12px;

    


}
.down{
    color: white;
    background-color: red;
    align-content: end ;
    border: 16px solid red ;
    font-size: xx-large;
    font-weight: bolder;
   


}
.a{
    
    text-align: center;
    margin-left: 2px  ;
    
}
button{
    margin-top: 20px ;
    margin-left: 140px ;
    padding: 4px ;
    text-transform: capitalize;
    font-size: 25px;
    letter-spacing: 4px ;
    background-color: cadetblue;
}
button:hover{
    color: chartreuse;
    background-color: black;
}
.dropdown{
    margin-top: 40px ;
    text-align: center;
    font-size: x-large;
}
select{
    width: 150px  ;
    height: 40px;
    background-color: rgb(29, 235, 156);
    font-weight: bolder;
    padding: 8px ;
}
select:hover{
    color: crimson;
    background-color: turquoise;
    
}
