<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project list</title>
    <link rel="stylesheet" href="ss.css">

</head>
 <body>
    
    <!-- {% if project %} -->
    <table class="t" border=" 2px solid gray ">
     <thead>
        <th >Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Assigned To</th>
        <th>Priority</th>
     </thead>
     
        
     <!-- {% for pro in project %} -->
     <tr>
        <td>
            hnad 
             <!-- {{pro.name}}, -->
            </td>
        <td>
             kjk
            <!-- {{pro.startdate}}, -->
        </td>
        <td>
            ksn
            <!-- {{pro.enddate}}, -->

        </td>
        <td>
            jksc
            <!-- {{pro.assignedto}} -->

        </td>
        <td>
            jksd
            <!-- {{pro.priority}} -->
        </td>
     </tr>
     <!-- {% endfor %} -->
    </table>
    <!-- {% else %} -->
    <p>No project found</p>
    <!-- {% endif %} -->
 </body>
</html>